<div class="modal fade" id="createCardModal" tabindex="-1" role="dialog" aria-labelledby="createCardModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCardModalTitle">Criar Novo Cartão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="newCardName" class="col-form-label">Nome do Cartão:</label>
                        <input type="text" class="form-control" id="newCardName">
                    </div>

                    <div class="form-group mx-sm-3 mb-2 new-board-searchImage-field">
                        <label for="newCardSearchImage" class="col-form-label">Escolher Imagem:</label>
                        <input type="text" class="form-control search-text" id="newCardSearchImage" placeholder="Pesquisar...">
                    </div>
                    <button type="button" class="btn btn-primary mb-2 new-board-searchImage-button search-image-button" data-image-id="0">Buscar Imagem</button>
                    <i class="fa-solid fa-circle-check fa-2xl select-image-check-icon-card" style="display: none;"></i>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="buttonCreateCard">Criar Cartão</button>
            </div>
        </div>
    </div>
</div>